*{
    padding: 0;
    margin: 0;
    font-family: 'josefin Sans', sans-serif;
    box-sizing: border-box;
  /* Add styles for larger screens
  @media only screen and (min-width: 600px) {
    /* Add styles for larger screens */
  /* } */

  /* Add styles for smaller screens */
  /* @media only screen and (max-width: 599px) { */
    /* Add styles for smaller screens */
  /* }  */

}
.hero{
    background-image:url(../Personal_website/20230107_214742.jpg) ;
    background-color:black ;

    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
span1{
    color:white;
    letter-spacing: 1px;
    cursor: pointer;

}
span{
    color: red;
}
nav ul li{
    list-style-type: none;
    display: flex;
    display: inline-block;
    padding: 25px;

}
nav ul li a{
   
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: orange;
    text-decoration: none;
    transition: 1s;
}
.btn{
    background-color: red;
    color: white;
    text-decoration: none;
    border:2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;

}
.btn:hover{
    transform: scale(1.2);
}
.content{
    color: white;
    padding-top: 11%;
    padding-left: 20%;
    position: absolute;
    margin-left: 600px;
}

h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 65px;
}
h4{
letter-spacing: 2px;
font-size: 20px;
}
.newsltr form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
.newsltr form input:first-child{
display: inline-block;
width: 100%;
padding: 14px 130px 14px 15px;
border: 2px solid red;
border-radius: 30px;
outline: none;
}
.newsltr form input:last-child
{
    display: inline-block;
    outline: none;
    border: none; 
    padding: 10px 30px;
    background-color: red;
    margin-top: 30px;
    border-radius: 30px;
}
.About{
    background-color: black;
width: 100%;
padding: 100px 0px;
}
.About-txt{
width: 550px;
color: azure;
font-size: 75px;
text-transform: capitalize;
margin-bottom:20px ;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items:center;
    justify-content: space-around;
}
.About:hover{
    background-color: ;
    transition: 2s;
    transform: scale(1.1);
    display: block;
}
.About img{
    width: 200px;
    height: auto;
    margin: 8%;
    border-radius: 25px;
}
.About img:hover{
    width: 350px;
    height: auto;
    margin-bottom: 150px;
    transition: 2s;
}
.About h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.About p{
    color: rgb(99, 93, 93);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;

}
.About p:hover{
    color: white;
}

/*---------Skills-----------*/
.Skills h1{
    color: rgb(11, 11, 11);
}
.Skill{
    width: 500px;
    margin: 60px;
    color: rgb(6, 6, 6);
    padding: 20px;
    box-shadow: 0 14px 28px rgb(59, 57, 57),0 10px 28px rgb(59, 57, 57);
    
}
.Skill ul{
    list-style-type: none;
}
.Skill li{
    margin: 20px 0;
    padding: 10px;
}
.bar{
    background-color: rgb(65, 69, 65);
    display: block;
    height: 20px;
    border: 1px solid rgb(9, 2, 5);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 2px rgb(11, 10, 11),0 1px 2px rgb(59, 57, 57);
transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgb(59, 57, 57),0 10px 28px rgb(59, 57, 57);
}
.bar span{
    height: 20px;
    float: left;
    background:linear-gradient(135deg,orange 0%,rgb(253, 128, 3)100%)
}
.html{
    width: 95%;
    animation: html 15s;
}
@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 95%;
    }
    
}
.java{
    width: 85%;
    animation: java 15s;
}
@keyframes java {
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
    
}
.css{
    width: 75%;
    animation: css 15s;
}
@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
    
}
.js{
    width: 50%;
    animation: js 15s;
}
@keyframes js {
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
    
}
.jp{
    width: 90%;
    animation: jp 15s;
}
@keyframes jp {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
    
}
.sql{
    width: 70%;
    animation: sql 15s;
}
@keyframes sql {
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
    
}
