.social{
    background-color: black;
}
.social1{
    display: flex;
    margin-left: 20%;
}
.Insta img{
 width: 150px;
 height: auto; 
 margin-left: 30px; 
 margin-top: 20%; 
}
.email img{
    width: 170px;
    height: 150px; 
    border-radius: 20px;  
    margin-left: 70px; 
    margin-top: 20%;    
}
.linkd img{
    width: 170px;
    height: 150px; 
    border-radius: 20px;  
    margin-left: 70px; 
     margin-top: 20%;     
}
.git img{
    width: 140px;
    height: auto; 
    border-radius: 20px; 
    margin-left: 70px;   
    margin-top: 20%;     
}